@using GE.IServicio.Movimiento
@using GE.Servicio
@model GE.IServicio.Caja.DTO.CajaDto

@{
    IMovimientoServicio _movimientoServicio = new MovimientoServicio();

    var Lista = _movimientoServicio.ObtenerPorCaja(Model.Id);

    decimal Diferencia = 0;

    decimal Total = 0;

    ViewData["Title"] = "Perfil";
}

<body>
    <section class="ContenedorTotal">
        <div class="izquierdaPerfil" style="padding-left:50px;padding-top:30px;">

            <h1>Perfil Caja</h1>
            <h4>Movimientos</h4>
            <hr />

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Perfil">

                        <div class="form-group">
                            <label asp-for="FechaApertura" class="control-label"></label>
                            <input asp-for="FechaApertura" class="form-control" style='width: 500px; height: 50px;' readonly="readonly" />
                            <span asp-validation-for="FechaApertura" class="text-danger"></span>

                            <label asp-for="MontoApertura" class="control-label"></label>
                            <input asp-for="MontoApertura" class="form-control" style='width: 500px; height: 50px;' readonly="readonly" />
                            <span asp-validation-for="MontoApertura" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FechaCierre" class="control-label"></label>
                            <input asp-for="FechaCierre" class="form-control" style='width: 500px; height: 50px;' readonly="readonly" />
                            <span asp-validation-for="FechaCierre" class="text-danger"></span>

                            <label asp-for="MontoCierre" class="control-label"></label>
                            <input asp-for="MontoCierre" class="form-control" style='width: 500px; height: 50px;' readonly="readonly" />
                            <span asp-validation-for="MontoCierre" class="text-danger"></span>

                        </div>
                        
                        <div>
                            <a asp-action="ConsultaCaja" asp-controller="AbrirCaja" class="btn btn-danger" style='width: 500px; height: 40px; margin-top: 30px;'>Volver</a>
                        </div>
                        <br/>
                    </form>
                </div>

            </div>

        </div>

        <div class="derechaPerfil" style="padding-right:50px;padding-top:30px;">

            <div class="cuotaPerfil" style="padding-top:20px;padding-left:56px;">

                <div class="col-md-12">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="col-md-7">

                                <table class="col-md-7">
                                    <thead>
                                        <tr class="table100-head">
                                            <th width="50px">
                                                Descripcion
                                            </th>
                                            <th width="50px">
                                                FechaActualizacion
                                            </th>
                                            <th width="50px">
                                                TipoMovimiento
                                            </th>
                                            <th width="50px">
                                                Monto
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Lista)
                                        {
                                        <tr padding-bottom="2px">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaActualizacion)
                                            </td>
                                            <td class="tdgrupo">
                                                @Html.DisplayFor(modelItem => item.TipoMovimiento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Monto)
                                            </td>
                                            @{
                                                Total += item.Monto;
                                            }
                                        </tr>
                                        }
                                    
                                    @{
                                        Diferencia = Model.MontoCierre-(Total + Model.MontoApertura);
                                    }
                                    </tbody>
                                </table>
                                
                                <div class="form-group" style="padding-right:6px;padding-left:2px;">
                                    <label asp-for="@Total" class="control-label"></label>
                                    <input asp-for="@Total" class="form-control" style='width: 490px; height: 50px;' readonly="readonly" />
                                    
                                    <label asp-for="@Diferencia" class="control-label"></label>
                                    <input asp-for="@Diferencia" class="form-control" style='width: 490px; height: 50px;' readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


