@model GE.IServicio.Empleado.DTO.EmpleadoDto

@{
    ViewData["Title"] = "CreateUsuario";
}
<body>
    <h1>Crear Usuario para Empleado</h1>
    <div align="center" style="color:white " class="datosalmediouser">
        <h5>Esta seguro de crear usuario para el empleado :</h5>
        <div class="col-almedio">

            @Html.DisplayNameFor(model => model.Legajo) :
            @Html.DisplayFor(model => model.Legajo)

            @Html.DisplayNameFor(model => model.Apellido) :
            @Html.DisplayFor(model => model.Apellido)

            @Html.DisplayNameFor(model => model.Nombre) :
            @Html.DisplayFor(model => model.Nombre)

            @Html.DisplayNameFor(model => model.Dni) :
            @Html.DisplayFor(model => model.Dni)
            <div>
                <br/>
                <form asp-action="CreateUsuario">
                    <div class="form-group">
                        <input type="submit" value="Crear Usuario" class="btn btn-primary"/>
                    </div>
                    <br/>
                    <div>
                        <a asp-action="Index" class="btn btn-danger">Volver</a>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>