@using Microsoft.AspNetCore.Http
@model IEnumerable<GE.IServicio.Empleado.DTO.EmpleadoDto>

@{
    ViewData["Title"] = "Index";
}
<div class="ContenedorTotal">
    <div class="principal">
        <div class="enbloque">
            <img src="~/img/cliente.png" class="imgcliente" width="110" height="110" />
            <h2 class="textuser">User : @ViewBag.Session</h2>
            <h1 class="logintext">Consulta Empleado</h1>

            <form asp-action="Index" method="get">
                <div class="buscar" style="font-size:x-large">
                    <p class="search">
                        Buscar Empleado <input type="text" name="cadena" value="@ViewData["Busqueda"]" style="width:220px;height:40px;"/><br />
                        <input type="submit" value="Buscar" btn="btn btn-default" class="btn btn-primary"  style="width:220px;height:40px;"/>
                    </p>

                </div>
            </form>
        </div>

        <p align="right">
            <a asp-action="Create" class="btn btn-primary" style="width:162px;height:70px; font-size:large; text-align:center; padding-top:25px;padding-right:6px; margin-right:17px">Nuevo Empleado</a>
        </p>

        <h4 style="color:yellow">@TempData["Advertencia"]</h4>
    </div>
    <div class="col-md-12">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="col-md-12">
                    <table class="col-md-12">
                        <thead>
                            <tr class="table100-head">
                                <th>
                                    @Html.DisplayNameFor(model => model.Legajo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaIngreso)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellido)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dni)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Domicilio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sexo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Foto)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr padding-bottom="2px">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Legajo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Domicilio)
                                    </td>
                                    <td class="tdgrupo">
                                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sexo)
                                    </td>
                                    <td>
                                        <img src="@item.FotoLink" class="w-75" alt="Logo">
                                    </td>
                                    <td>
                                        <a asp-action="CreateUsuario" asp-route-id="@item.Id" class="btn btn-primary">User</a>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Modificar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>