@using Microsoft.AspNetCore.Http
@model IEnumerable<GE.IServicio.Empleado.DTO.EmpleadoDto>

@{
    ViewData["Title"] = "Index";
}

<u><h1>Consulta Empleado</h1></u>
<h2 style="color: white">User : @ViewBag.Session</h2>

<p align="right">
    <a asp-action="Create" class="btn btn-primary">Nuevo Empleado</a>   
</p>

<h4 style="color:yellow">@TempData["Advertencia"]</h4>

<div class="col-md-12">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="col-md-12">
                <table class="col-md-12">
                    <thead>
                        <tr class="table100-head">
                            <th>
                                @Html.DisplayNameFor(model => model.Legajo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaIngreso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dni)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Domicilio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaNacimiento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sexo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr padding-bottom="2px">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Legajo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dni)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Domicilio)
                                </td>
                                <td class="tdgrupo">
                                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                </td>
                                <td>


                                    
                                    <img src="@item.FotoLink" class="w-75" alt="Logo">
                                    
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.Sexo)
                                </td>
                                <td>
                                    <a asp-action="CreateUsuario" asp-route-id="@item.Id" class="btn btn-primary">User</a>
                                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>