@model IEnumerable<GE.IServicio.Movimiento.DTO.MovimientoDto>

@{
    ViewData["Title"] = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="libreria/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/css/util.css">
<link rel="stylesheet" type="text/css" href="libreria/css/main.css">
<!--===============================================================================================-->
<body>
    <div class="ContenedorTotal">
        <div class="enbloque">
            <img src="~/img/cliente.png" class="imgcliente" width="110" height="110" />
            <h2 class="textuser" style="margin-right:17px">User : @ViewBag.Session</h2>
            <h1 class="logintext">Movimientos</h1>

            <form asp-action="Index" method="get">
                <div class="buscar">
                    <p class="search">
                        Buscar Movimiento <input type="text" name="cadena" value="@ViewData["Busqueda"]" style="width:500px;height:40px;"/>
                    </p>
                    <input type="submit" value="Buscar" btn="btn btn-default" class="btn btn-primary" style="width:500px;height:40px;background-color:teal;"/>

                </div>
            </form>
        </div>
        <div>
            <br />
            <div class="col-md-12">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="col-md-7">

                            <table class="col-md-7" >
                                <thead>
                                    <tr class="table100-head">
                                        <th width="50px">
                                            Descripcion
                                        </th>
                                        <th width="50px">
                                            Fecha Actualizacion
                                        </th>
                                        <th width="50px">
                                            Tipo Movimiento
                                        </th>
                                        <th width="50px">
                                            Monto
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr padding-bottom="2px">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaActualizacion)
                                            </td>
                                            <td class="tdgrupo">
                                                @Html.DisplayFor(modelItem => item.TipoMovimiento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Monto)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
<!--===============================================================================================-->
<script src="libreria/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/vendor/bootstrap/js/popper.js"></script>
<script src="libreria/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/js/main.js"></script>
