@model GE.IServicio.Cliente.DTO.ClienteDto

@{
    ViewData["Title"] = "Delete";
}

<div class="ContenedorTotal" style="padding-left:20px;padding-right:20px;padding-top:20px; padding-bottom:20px">
    <h1>Eliminar</h1>

    <h3>--Esta Seguro De Borrar Este Cliente?--</h3>

    <p align="right">


        <img src="@Html.DisplayFor(model=> model.FotoLink)" class="fotopersona" alt="Logo" width="200" height="300">
    <p />
    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="col-md-3">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dni)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dni)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Domicilio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Domicilio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GrupoSanguineo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrupoSanguineo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaDeIngreso)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaDeIngreso)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" style="width:240px;height:40px"/> |
            <a asp-action="Index" class="btn btn-danger" style="width:220px;height:40px">Volver</a>
        </form>
    </div>
</div>