@model IEnumerable<GE.IServicio.Cliente.DTO.ClienteDto>

@{
    ViewData["Title"] = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="libreria/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/css/util.css">
<link rel="stylesheet" type="text/css" href="libreria/css/main.css">
<!--===============================================================================================-->
<body>
    <u><h1>Consulta Cliente</h1></u>

    <h2 style="color: white">User : @ViewBag.Session</h2>

    <div>
        <p align="right">
            <a asp-action="Create" class="btn btn-primary">Crear Nuevo Cliente</a>
        </p>
        <br />
        <div class="col-md-12">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="col-md-12">


                        <table class="col-md-12">
                            <thead>
                                <tr class="table100-head">
                                    <th width="20px">
                                        Apellido
                                    </th>
                                    <th width="20px">
                                        Nombre
                                    </th>
                                    <th width="20px">
                                        Dni
                                    </th>
                                    <th width="20px">
                                        Telefono
                                    </th>
                                    <th width="20px">
                                        Domicilio
                                    </th>
                                    <th width="20px">
                                        FechaNacimiento
                                    </th>
                                    <th width="20px">
                                        Sexo
                                    </th>
                                    <th width="20px">
                                        GrupoSanguineo
                                    </th>
                                    <th width="20px">
                                        Foto
                                    </th>
                                    <th width="20px">
                                        FechaDeIngreso
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr padding-bottom="2px">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Apellido)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dni)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Domicilio)
                                        </td>
                                        <td class="tdgrupo">
                                            @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sexo)
                                        </td>
                                        <td class="tdgrupo">
                                            @Html.DisplayFor(modelItem => item.GrupoSanguineo)
                                        </td>
                                        <td>
                                            <img src="@Html.DisplayFor(modelItem => item.FotoLink)" class="w-75" alt="Logo">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaDeIngreso)
                                        </td>
                                        <td>
                                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--===============================================================================================-->
<script src="libreria/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/vendor/bootstrap/js/popper.js"></script>
<script src="libreria/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/js/main.js"></script>