@{
    ViewData["Title"] = "Acceso";

}
@model GE.IServicio.Cliente.DTO.ClienteDto

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="libreria/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="libreria/css/util.css">
<link rel="stylesheet" type="text/css" href="libreria/css/main.css">
<!--===============================================================================================-->

<body>

    <div class="Acceso">
        <div class="enbloque">

            <img src="~/img/key.png" class="imgcliente" width="110" height="110" />
            <h2 class="textuser">User : @ViewBag.Session</h2>
            <h1 class="logintext">Acceso Al Sistema</h1>

            <form asp-action="Index" method="get">
                <div class="buscar">
                    <p class="search">
                        Buscar Cliente Por DNI<input type="text" name="cadena" value="@ViewData["Busqueda"]" style='width:975px; height: 45px' />
                        <input type="submit" value="Buscar" btn="btn btn-default" class="btn btn-primary" style='width:975px; height: 45px' />
                    </p>
                </div>

            </form>

        </div>

        @if (ViewBag.sms == "Puede Pasar")
        {
            <div align="right">

                <img src="@Model.FotoLink" class="avatar" alt="w-75" class="logo" width="50" height="50"/>

                <h1 class="textuser">
                    @Model.Apellido, @Model.Nombre
                </h1>

            </div>
        }

        @if (ViewBag.sms == "error")
        {
            <div align="right">

                <img src="@Model.FotoLink" class="avatar" alt="w-75" class="logo" width="100" height="100"/>

                <h1 class="textuser">
                    @Model.Apellido, @Model.Nombre
                </h1>

            </div>
        }

        <br />

        @if (ViewBag.sms == "error")
        {
            <div class="col-12">

                <div class="alert alert-danger alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                    <h4><i class="fa-navicon fa-stop"></i>No Puede Pasar Debe Cuota</h4>
                    Vea el estado de cuenta del cliente

                </div>

            </div>
        }


        @if (ViewBag.sms == "Puede Pasar")
        {
            <div class="col-12">

                <div class="alert alert-success alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                    <h4><i class="fa-navicon fa-stop"></i>|-------- Puede Pasar --------|</h4>
                    No Tiene Cuotas Pendientes

                </div>
                
                <form asp-action="CuotasCliente" asp-controller="Cuota" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary" style='width: 975px; height: 65px'>Acceso Cliente</button>
                </form>

            </div>
        }

        @if (ViewBag.sms == "NoseEncuentraCliente")
        {
            <div class="col-12">

                <div class="alert alert-danger alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                    <h4><i class="fa-navicon fa-stop"></i>!..Nose Encontro el Cliente..!</h4>
                    Verifique el DNI

                </div>
            </div>
        }

    </div>



</body>

<!--===============================================================================================-->
<script src="libreria/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/vendor/bootstrap/js/popper.js"></script>
<script src="libreria/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="libreria/js/main.js"></script>

