@model GE.IServicio.Clase.DTOs.ClaseDto

@{
    ViewData["Title"] = "Delete";
}
<div class="ContenedorTotal" style="padding-left:30px;padding-top:20px;padding-bottom:30px;">
    <h1>Eliminar</h1>

    <h3>Esta Seguro De Borrar Esta Clase?</h3>
    <div>
        <h4>Clase</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Foto)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger"style='width:200px; height: 40px;background-color:red;'/> |
            <a asp-action="Index" class="btn btn-danger" style='width:200px; height: 40px; margin-bottom:5px;'>Volver</a>
        </form>
    </div>
</div>